@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Music Saver!</h1>
    <h2>The perfect place to save videos from all over the Internet!</h2>
    <p></p>
</div>
