@{
    ViewData["Title"] = "Our site's Privacy Policy:";
}
<h1>@ViewData["Title"]</h1>

<p>All videos on this website are aimed to be <b>copyright-free</b> for best uses of materials without getting sued.</p>
<div class="text-left">
    <h3>How do we check for copyrighted videos, found on our website?</h3>
    <p>A: The database is checked <b>every 15 minutes</b> to ensure the contents are copyright-free. If a video being copyrighted is detected, it will be deleted with no hesitation. The user with this video will be <i>warned</i> for first offense. If they go by the thin for a third time, then, <b><i>depending on the copyright, consequences are up to be held upon them.</i></b></p>
    <h3>Data Policy:</h3>
    <p>Data is kept safely in a database with limited access, so to be not vulnerable to attacks. We do not access and read what users save, we only check for copyright and not the context of the videos, saved by the users.</p>
</div>
